# PLAYWRIGHT_HEADLESS_MODE
# True -> Not launching brawser, suite for background proccess
# False -> Lauching brawser, suite for survey and debug
PLAYWRIGHT_HEADLESS_MODE=False

MY_STATIONS=RJDT,RJFE,RJFU,RJFS,RJFF,RJFT,RJFK,RJFR,RJFO,RJFM

