pydantic
python-dotenv
pytz

folium

# Streamlit
altair
pandas
streamlit
streamlit-carousel
streamlit[pdf]
streamlit_folium

# Database
SQLAlchemy
alembic

# Scraping
playwright

# misc
PyPDF2
schedule
